.form-block {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

input, select, textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.valid {
  transition: .5s;
  outline-color: green;
  border-color: rgba(0, 128, 0, 0.2);
}

.valid:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.invalid {
  transition: .5s;
  outline-color: red;
  border: 2px solid red;
  border-radius: 3px;
}

.invalid:focus {
  background-color: rgba(128, 0, 0, 0.1);
}

form {
  margin: 0 auto;
  margin-top: 20px;
  width: 500px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

form button[type=submit] {
  align-self: center;
}

pre {
  width: 100px;
  margin: 0 auto;
}